[submodule "GNPS2_DeploymentTooling"]
	path = GNPS2_DeploymentTooling
	url = https://github.com/Wang-Bioinformatics-Lab/GNPS2_DeploymentTooling.git
[submodule "bin/pySubstructures"]
	path = bin/pySubstructures
	url = https://github.com/glasgowcompbio/pySubstructures.git
